html { font-size: 14px; background: #dcdcdc; }
a { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; }
a.twitter-timeline-link { padding-left: 5px; }
div.twat-container { width: 100%;}
p.twat-title { font-weight: bold; font-size: 16px; text-decoration: bold; text-align: center; background-color: #eee;}
p.twat-text { font-size: 14px; word-wrap: auto; display: block;}
span.twat-image { text-align: center; }
span.twat-iframe { text-align: center; width: 600px; height: 380px; }
img { opacity: .6; transition: all 0.5s ease-out; }
img:hover { opacity: 1; }
iframe { border: 1px dotted blue; width: 100%; height: 380px; }
