html { font-size: 14px; background: #eee; Font-Family: Monospace; color: white;}
div.iconbar { position: relative; float: right; margin-right: 1%; font-size: 14px;}
/*img.icon { height: 18px; width: 18px;}*/

div.toolbox {
	position: fixed; top: 0; right: 0;
	width: 1%; height: 10%; opacity: 0; overflow: hidden;
	transition: all 0.5s ease-out;
}
div.toolbox:hover { height: 100%; width: 100%; opacity: .9; transition: all 0.5s ease-out; background: black; text-align:center;}
.search { height: 18px;}

a { text-decoration: underline; color: white; }
/*a:hover { text-decoration: underline; }*/

div.menu {
	position: relative; 
	left: 0%; right: 0%; top: 1%;
	text-align: center; font-size: 12px; color: black; display: block; 
	word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;
}

a.menu { color: blue; }


a:focus { outline: thin dotted; }
div.twat-container { width: 100%; background: #666; color: white; border: 1px solid white; margin: 1%; margin-top: 5px; width: 98%;}
div.twat-container:hover { border: 1px solid darkgrey; box-shadow: 1px -1px 3px white; }

/*p.twat-title:hover { border: 1px dotted lightgrey; }*/
p.twat-text { font-size: 14px; word-wrap: auto; display: block; padding: 1%; margin: 0; Font-Family: Monospace;}
span.twat-iframe { text-align: center; width: 600px; height: 380px; }
p.twat-image { text-align: center; margin: 0;}
img.img { opacity: .6; transition: all 0.5s ease-out;}
img.img:hover { opacity: 1; }
iframe { border: 1px dotted white; width: 100%; height: 380px; margin: 0; }
div.twat-title { border: 1px solid transparent; font-weight: bold; font-size: 14px; text-align: center; background-color: #777; height: 18px; margin: 0;}

/* twitter-related values */
img.Emoji { height: 20px; width: 20px; }
a.twitter-timeline-link { padding-left: 5px; }


.video-thumbnail {
	position: relative;
	cursor: pointer;
}
.video-thumbnail:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	content: '\25BA';
	font-size: 100px;
	color: #fff;
	opacity: .8;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.video-thumbnail:hover:before {
	color: #eee;
}
